.vodafone-main-container-div {
	display: flex;
	justify-content: flex-start;
	/* align-items: center; */
	flex-direction: row;
	margin-top: 2em;
}

.text-1 {
	font-size: 1em;
	text-align: left;
	color: #42a5ff;
	margin-bottom: 20px;
}

.build-page {
	max-width: 23em;
	margin-left: 5rem;
	text-align: left;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    padding: 3px;
}

.build-page h2 {
	font-size: 2.5rem;
	margin-top: 0;
	margin-bottom: 2rem;
}

.build-page p {
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 3rem;
}

.button {
	display: inline-block;
	background-color: #007bff;
	color: #fff;
	padding: 0.5rem 1.5rem;
	border: none;
	border-radius: 0.25rem;
	text-decoration: none;
	margin-bottom: 2rem;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: #0062cc;
}

.build-page h3 {
	font-size: 2rem;
	margin-top: 4rem;
	margin-bottom: 1rem;
}

.author {
	font-size: 17px;
	margin-top: 1rem;
	text-align: left;
    margin-left: 15px;
}

.vodafone-button {
	text-decoration: none;
}

.vodafone-button > span:hover {
	transform: scale(2);
}

.image-container {
	display: flex;
    justify-content: space-between;
	flex-direction: row;
	margin: 5px;
}
